#mindblown-grid {
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 1.5%;
  justify-content: center;
  padding: 0 3% 8% 3%; 
  grid-row-gap: 1%;
  /* border: 1px solid blue; */
}

.mindblown-compo {
  position: relative;
  opacity: 0.9;
  width: 30vw;
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.mindblown-compo:hover {
  opacity: 1;
}

.compo-text-h4 {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 10px;
  left: 10px;
  color: white;
  font-weight: 800;
}

.mindblown-compo:hover .compo-text-h4 {
  bottom: 42px; 
  color: white;
}

.compo-text-p {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 10px;
  left: 10px;
  color: rgba(255, 255, 255, 0.699);
  width: 76%;
  text-align: left;
  line-height: 1;
}

.mindblown-compo:hover .compo-text-p {
  display: inline;
}
#thumb-mindblown{
  width: 288px;
  height: 160px;
  border-radius: 5px;
  cursor: pointer;
}
#mindblown-centerHead{
  margin-left: 2em;
}