.title{
    margin-left: 77px;
    margin-bottom: -90px;
    margin-top: 90px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
    padding: 48px;
}
.grid > img{
    width: 100%;
    border-radius: 8px;
}
.grid1{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 15px;
    padding: 48px;
}
.grid1 > img{
    width: 100%;
    /* height: 230%; */
    border-radius: 8px;
}
.title1{
    margin-left: 47px;
    margin-bottom: -20px;
    margin-top: 80px;
}