*{
    margin:0;
    padding:0;
    /* background-color:#1a1c21; */
}
/* .explore-channelswrapper{
    border: 1px solid blue;
} */
.explore-channelslist a img{
    width:190px;
    height:120px;
    border-radius: 6px;
  margin:5px;
}
.explore-channelslist a{
    cursor:pointer;
    -webkit-tap-highlight-color:transparent;
    outline:none;
    text-decoration: none;
}
.explore-header{
    margin:0px;
    padding:0px;
    vertical-align:baseline;
}
.explore-header h2{
    font-size:20px;
    font-weight: 500;
    padding-left: 40px;
    margin-top:40px;
    margin-bottom: -20px;
    line-height:1.6
}
  @media(max-width:1970px){
  .explore-channelslist{
      grid-template-columns: repeat(7,minmax(0,100%));
      padding:22px 38px 0px 38px;
  }
 }
 @media(max-width:815px){
     .explore-channelslist{
         padding: 19px 19px 0px 19px;
         grid-template-columns: repeat(3,minmax(0,100%))
     }
 }
 @media(min-width:700px){
 .explore-explore_showsfullepisode{
  max-width:1440px;
  margin: 0 auto;
  padding-top: 35px;
 }
}
.explore-explore_showsfullepisode{
    overflow-x: hidden;
    vertical-align: baseline;
    padding-top:35px;
    margin: 0 auto;
    max-width:1440px;
}
.explore-channel{
    display: grid;
    vertical-align: baseline;
}
@media(max-width:1970px){
    .explore-channel{
        grid-template-columns: repeat(7,minmax(0,100%));
    }
}
@media(min-width:700px){
    .explore-channel{
        grid-column-gap: 10px;
        grid-row-gap:10px;
        padding: 22px 38px 39px 38px;
    }
}
.explore-channel img{
    width:190px;
    height:300px;
    border-radius:5px;
    z-index: 6;
}









