
.discoveryGrid {
    margin-top: 3%;
    background-color: #1a1c21;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}

.head{
    padding-top: 2%;
    color: white;
}

.secHead {
    color: white;
    padding-top: 5%;
    padding-bottom: 1%;
  }

.main {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-column-gap: 5px;
    justify-content: space-evenly;
}

.image-margin {
    margin-bottom: 14%;
}

.container {
    position: relative;
    color: white;
}

.centered {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.img-card-margin-bottom{
    margin-bottom: 30px;
}
.img-card-margin-bottom-in-minus{
    margin-bottom: -14px
}

.flex-main{
    display: flex;
    /* border: 1px solid red; */
    width: 90%;
    margin:auto;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 50px; */
}

.flex-main img{
    margin-top: 50px;
    /* border: 1px solid red; */
    height: 80px;
    width: 9.8%;
}