.item{
    width: 100%;
    height: 380px;
    /* background-color: #171A29; */
    color: #fff;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 185px;
}
.item > img{
    height: 175%;
    margin: 10px;
    border-radius: 15px;
    transition: transform 0.9s;
}
.item > img:hover{
    transform: scale(1.05);
    /* height: 85%; */
    cursor: pointer;
    /* transition: all .2s ease; */
}
#play {
    display: none;
    z-index: 10;
    transform: translate(-50%, -50%);
    position: absolute;
    /* background-color: red; */
    margin-left: 4%;
    cursor: pointer;
}
.item:hover #play{
    display: block;
}
/* ------------------------------------slider1--------- */

.item1{
    width: 100%;
    height: 295px;
    /* background-color: #171A29; */
    color: #fff;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.item1 > img{
    height: 45%;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.9s;
}
.item1 > img:hover{
    transform: scale(1.05);
    /* height: 85%; */
    cursor: pointer;
    /* transition: all .2s ease; */
}

