.whole-cont {
    min-height: 34.0625rem;
    max-width: 69.25rem;
    margin: auto;
    position: relative;
    /* background-color: red; */
}
.detals-pTag{
    text-align: left;
    margin-left: -18px;
}

.imgcont {
    width: 100%;
    height: 623px;
    background-color: #1839dd;
    color: #fff;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 20px; */
    margin-top: 10px;
}

.imgcont>img {
    width: 100%;
    margin: 10px;
    border-radius: 15px;
}

.details-cont {
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(92, 92, 92);
}

.left-cont {
    /* background-color: green; */
    width: 65%;
    height: 200px;
}

.right-cont {
    /* background-color: pink; */
    width: 35%;
    height: 200px;
}

.header-left {
    height: 30px;
}

h1 {
    margin-top: 0px;
}

.width-ff {
    width: 5px;
}

.svg-cont {
    margin-top: 5px;
    margin-right: 5px;
    width: 32px;
    height: 32px;
    /* background-color: red; */
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.button {
    cursor: pointer;
    height: 40px;
    width: 120px;
    margin-top: 0px;
    border-radius: 5px;
    border: 0px;
    background-color: #2175d9;
    color: white;
}

.button>h6 {
    font-size: 12px;
    margin-top: 11px;
}

.button>svg {
    height: 25px;
    width: 25px;
    margin: 5px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.flex-wrap>p {
    margin-top: 3px;
    color: gray;
}

.languages-text {
    margin-top: 0px;
    margin-right: 5px;
    font-size: large;
    color: rgb(177, 177, 177);
    text-decoration: solid;
}

.top-buttons {
    /* background-color: black; */
    width: 100%;
    margin: auto;
    margin-top: 5px;
    display: flex;
}

.top-buttons>button {
    background-color: transparent;
    display: flex;
    width: 48%;
    height: 40px;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    border: 1px solid gray;
    border-radius: 6px;
}

.top-buttons>button:hover {
    border: 1px solid white;
    & p {
        color: white;
    }
}

.btncont {
    width: 70%;
    margin: auto;
    display: flex;
}

.btncont>svg {
    /* width: 70%; */
    margin-top: 6px;
}

.btncont>p {
    margin-top: 10px;
    margin-left: 10px;
    color: gray;
}

// .btncont>p:hover {
//     color: white;
// }
.rightbbttn {
    margin-left: 4%;
}

.episode-headers {
    height: 50px;
    /* background-color: red; */
    border-bottom: 1px solid gray;
    display: flex;
}

.episode-headers>div {
    font-size: large;
    /* text-decoration: solid; */
    font-weight: 500;
    margin-top: 10px;
    margin-right: 10px;
}

.shorts-button {
    border-bottom: 4px solid white;
    cursor: pointer;
}

.episodes-button {
    color: gray;
    cursor: pointer;
}

.episodes-button:hover {
    color: white;
}

.episode-cont {
    margin-top: 20px;
    margin-bottom: 20px;
    // background-color: orange;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.episode-card {
    // background-color: red;
    cursor: pointer;
    width: 213px;
}

.episode-image {
    background-size: contain;
    border-radius: 5px;
    height: 120px;
    width: 213px;
}

.episode-image>svg {
    margin: 5px;
}

.timestamp {
    background-color: rgba(54, 54, 54, 0.507);
    height: 15px;
    width: 27px;
    margin-top: 30%;
    margin-left: 85%;
    font-size: 10px;
}

.episode-image:hover {
    & .timestamp {
        display: none;
    }
}

.episode-details {
    h4 {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    p {
        margin-top: 5px;
        font-size: smaller;
    }
}

